
body {
    background: rgba(115, 135, 139, 0.85) url("/img/bg-image.jpg") no-repeat;
}
.admin {
    background: #4a5268;
}
nav {
    background-color: rgb(49, 79, 107);
}
#dropdown-menu{
    background-color: rgb(49, 79, 107);
}
.dropdown-item {
    color: white;
}
#logo, #collapse-menu-button {
    color: white;
}
.navbar__item {
    color: white;
}
.header {
    margin: 10px;
}
#homepage-button {
    width: 100%;
}
#map {
    margin-top: 15px;
    height: 500px;
}
#testbox {
    border: 2px solid black;
    background-color: rgb(49, 79, 107);
    padding: 15px;
}

#footer1{
    height: 60px;
    margin-top: 30%;
    padding: 5px;
    background-color: rgb(49, 79, 107);
    color: white;
    font-weight: bolder;
}

#footer2 {
    height: 30px;
    background-color: rgb(39, 74, 44);
    font-weight: bolder;
}

#footer2__item {
    color: white;
}
